In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [4]:
for num in mylist:
    print(num, 'Hello')

1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello
10 Hello

In [9]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [11]:
list_sum = 5
for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

60

In [13]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [1]:
for ghgh in 'Hello Eorld':
    print(ghgh)

H
e
l
l
o

E
o
r
l
d

Developer do things like things when they get proffesional in pyhton

In [3]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [4]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [6]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

len(mylist)

4

In [7]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [9]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [10]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [11]:
for a,b,c in mylist:
    print(b)

2
6
9

In [18]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [19]:
for item in d.items():
    print(d)

{'k1': 1, 'k2': 2, 'k3': 3}
{'k1': 1, 'k2': 2, 'k3': 3}
{'k1': 1, 'k2': 2, 'k3': 3}

In [20]:
for  key,value in d.items():
    print(value)

1
2
3

In [21]:
print(key)

k3

# While loop

In [23]:
x = 0

while x < 5:
    print(f'Thecurrent value of x is {x}')
    x = x + 1
else:
    print("X in not less then 5")

Thecurrent value of x is 0
Thecurrent value of x is 1
Thecurrent value of x is 2
Thecurrent value of x is 3
Thecurrent value of x is 4
X in not less then 5

In [24]:
 x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x += 1

0
1

# Usfule operators in python

In [25]:
mylist = [1,2,3,4]

In [26]:
for item in range(10):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [31]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [33]:
index_countt = 0
word = 'abcde'

for letter in word:
    
    print(word[index_countt])
    index_countt += 1

a
b
c
d
e

In [35]:

word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [36]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [37]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [38]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [39]:
'x'in [1,2,3]

False

In [43]:
'x' in ['x','a','z']

True

In [44]:
'kykey' in {'mykey':345}

False

In [46]:
d = {'mykey': 345}
345 in d.values()

True

In [47]:
mylist = [10,20,30,40,50,60,70]

In [48]:
min(mylist)

10

In [49]:
max(mylist)

70

In [50]:
from random import shuffle

In [51]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [52]:
shuffle(mylist)

In [53]:
mylist

[2, 10, 7, 4, 5, 8, 3, 9, 6, 1]

In [54]:
from random import randint

In [55]:
randint(0,100)

31

In [56]:
input('enter')

enterdd

'dd'

#  List comprehensions in python

In [62]:
mystring = 'hello'

In [65]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [66]:
mylist

['h', 'e', 'l', 'l', 'o']

In [67]:
mylist = [letter for letter in mystring]

In [68]:
mylist

['h', 'e', 'l', 'l', 'o']

In [71]:
mylist = [dcds for dcds in 'word']

In [72]:
mylist

['w', 'o', 'r', 'd']

In [73]:
mylist = [x for x in range (0,11)]

In [74]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
mylist = [x for x in range(0,11) if x%2==0]

In [76]:
mylist

[0, 2, 4, 6, 8, 10]

In [79]:
celcius = [0,10,20,34.5]
fahrenhite = [( (9/5)*temp + 32) for temp in celcius]

In [80]:
fahrenhite

[32.0, 50.0, 68.0, 94.1]

In [81]:
fahrenhite = []

for temp in celcius:
    fahrenhite.append(( (9/5)*temp + 32))

In [82]:
fahrenhite

[32.0, 50.0, 68.0, 94.1]

In [83]:
meters = [34,45,52]

feets = [( ())]

In [84]:
result = [x if x%2==0 else 'ODD' for x in range(0,11)]

result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [86]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [87]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

# Methods and python documentation"

In [98]:
mylist = [1,2,3,]

In [99]:
mylist.append(4)

In [100]:
mylist

[1, 2, 3, 4]

In [101]:
mylist.pop()

4

In [102]:
mylist

[1, 2, 3]

In [ ]:
mylist.insert

# Function

In [106]:
def name():
    '''
        DOCSTRING: INFO
        INPUT: NAME
        OUTPUT:HELLO
    '''
    print('Hello')

In [107]:
name()

Hello

In [108]:
help(name)

Help on function name in module __main__:

name()
    DOCSTRING: INFO
    INPUT: NAME
    OUTPUT:HELLO

In [109]:
def name(name= 'Name'):
    print('hello ' + name)

In [110]:
result = name('Dave')

hello Dave

In [111]:
result

In [112]:
type(result)

NoneType

In [113]:
def name(name= 'Name'):
    return('hello ' + name)

In [114]:
result = name('Dave')

In [115]:
result

'hello Dave'

In [119]:
def hah(n1,n2):
    return n1+n2

In [126]:
resault = hah(20,30)

In [127]:
resault

50

In [128]:
# finde out if the eord dog is in the string

In [131]:
def dog_check(myst):
    if 'dog' in myst.lower():
        return True
    else:
        return False

In [132]:
dog_check('Dog ran away')

True

In [133]:
'dog' in 'dog ran away'

True

In [138]:
def dog_check(myst):
     return 'dog' in myst.lower()

In [139]:
dog_check('Dog ran away')

True

In [141]:
def pig_latin(word):
    first_letter = word[0]
    
    if first_letter in 'aeiou':
            pig_word = word +'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'
        
    return pig_word

In [143]:
pig_latin('apple')

'appleay'

# Args and **Kwargs

In [144]:
def myfunc(a,b):
    return sum((a,b))* 0.05

In [145]:
myfunc(40,60)

5.0

In [146]:
def myfunc(*args):
    return sum(args) * 0.05

In [147]:
myfunc(40,60,100)

10.0

In [148]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {} '.format(kwargs['fruit']))
    else:
        print('I did not finde fruit')

In [150]:
myfunc(fruit='apple',vaggie = 'lettuce')

My fruit of choice is apple

# Function practice

In [1]:
def add_number(num1,num2):
    return num1 + num2
result = add_number(2,3)

print(result)

5

In [2]:
def myfunc():
    print("Hello")

In [3]:
myfunc()

Hello

In [4]:
def myfunc(name):
    print(f'Hello {name}')

In [5]:
myfunc('Dave')

Hello Dave

In [6]:
def myfunc(name = 'Name'):
    print(f'Hello {name}')

In [8]:
myfunc()

Hello Name

In [15]:
def myfunc(num1,num2):
    return num1+num2

In [16]:
result = myfunc(23,43)

In [17]:
result

66

In [18]:
def print_result(a,b):
    print(a+b)

In [19]:
def return_result(a,b):
    return a+b

In [20]:
print_result(38,54)

92

In [23]:
result = return_result(38,94)

In [24]:
result

132

In [25]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [26]:
result = myfunc(10,30)

40

In [27]:
result

40

In [28]:
def myfunc(num1,num2):
    return num1+num2

In [29]:
myfunc(37,4)

41

In [30]:
myfunc('10','29')

'1029'

In [31]:
2 % 2

0

In [32]:
def myfunc(number):
    result = number % 2 == 0
    return result

In [33]:
myfunc(34)

True

In [34]:
myfunc(5)

False

In [35]:
def myfunc(number):
    return number % 2 ==0

In [36]:
myfunc(3)

False

In [42]:
def chack_even(num_list):
    
    for number in num_list:
        if number %2 == 0:
            return True
        else:
            pass
        
    return False

In [43]:
chack_even([1,3,5])

False

In [44]:
chack_even([2,6])

True

In [45]:
chack_even([5,7])

False

In [46]:
def chack_even(num_list):
    # return all the even numbers in a list
    
    #plavce holder
    even_number = []

    for number in num_list:
        if number %2 == 0:
            even_number.append(number)

        else:
            pass
    return even_number

In [52]:
chack_even([1,23,4])

[4]

In [53]:
stock_prices =[('Apple', 200),('Google' ,400),('MSFT',100)]

In [54]:
for item in stock_prices:
    print(item)

('Apple', 200)
('Google', 400)
('MSFT', 100)

In [55]:
for ticker,price in stock_prices:
    print(ticker)

Apple
Google
MSFT

In [56]:
for ticker,price in stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

In [58]:
work_hours = [('Abby', 100),('Billy',400),('Cassie', 800)]

In [61]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    #return
    return(employee_of_month,current_max)

In [63]:
result = employee_check(work_hours)

In [64]:
result

('Cassie', 800)

In [66]:
name,hours = employee_check(work_hours)

In [67]:
name

'Cassie'

In [68]:
hours

800

In [84]:
example = [1,2,3,4,5,6,7]

In [85]:
from random import shuffle

In [86]:
shuffle(example)

In [87]:
example

[3, 2, 4, 7, 1, 5, 6]

In [88]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [89]:
result = shuffle_list(example)

In [90]:
result

[6, 4, 1, 2, 5, 7, 3]

In [91]:
mylist = [' ','0',' ']

In [92]:
shuffle_list(mylist)

[' ', '0', ' ']

In [93]:
def player_guess():
    
    guess=''
    
    while guess not in ['0','1','2']:
            guess = input("Pick a number: 0,1 or 2")
    return int(guess)

In [94]:
player_guess()

Pick a number: 0,1 or 28
Pick a number: 0,1 or 22

2

In [97]:
def check_guess(mylist,guess):
    if mylist[guess] == '0':
        print("Correct!")
    else:
        print("Wrong guess!")
        print(mylist)

In [100]:
mylist = [' ','0',' ']

mixedup_list = shuffle_list(mylist)

guess = player_guess()

check_guess(mixedup_list,guess)

Pick a number: 0,1 or 22
Wrong guess!
[' ', '0', ' ']

# Lambda  Expression , Map , and Filter Function

In [4]:
def square(num):
    return num**2

In [5]:
my_nums = [1,2,3,4,5]

In [7]:
map(square,my_nums)

In [9]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [10]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [11]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [13]:
names= ['Andy','Eve','Sally']

In [14]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [15]:
def check_even(num):
    return num%2 == 0

In [16]:
mynums = [1,2,3,4,5,6]

In [17]:
filter(check_even,mynums)

In [18]:
list(filter(check_even,mynums))

[2, 4, 6]

In [22]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [23]:
def square(num):
    result = num ** 2
    return result

In [26]:
square(3)

9

In [27]:
def square(num):
    return num ** 2

In [28]:
square(3)

9

In [29]:
square = lambda num: num ** 2

In [31]:
square(4)

16

In [32]:
list(map(lambda num:num ** 2 , mynums))

[1, 4, 9, 16, 25, 36]

# Nasted statements and Scope

In [33]:
x = 25
def printer():
    x=50
    return x

In [34]:
print(x)

25

In [35]:
name = 'This is a global string'
def greet():
    name = 'Sammy'
    
    def hello():
        print('Hello '+name)
    hello()

greet()

Hello Sammy

In [46]:
 x = 50
def func(x):
    print(f'X is {x}')
        
    x = 200
    print(f'I just locally changed x to {x}')

In [47]:
func(x)

X is 50
I just locally changed x to 200

In [ ]:
x = 50

def func():
    global x
    print(f)